.articles 
  .container
    %h2 記事一覧
    -# - @articles.each do |article|
    -#   = render 'commons/article', board: board 

  .new_article_container
    = link_to new_article_path do
      .article_new
        %p + 新しい記事を作成

