.top_page 
  .top_container
    %h2 TOPページ 
    
    -# - @articles.each do |board|
    -#   = render 'commons/board', board: board 

    -# - @chats.each do |board|
    -#   = render 'commons/board', board: board

    -# - @informations.each do |board|
    -#   = render 'commons/board', board: board

    -# - @lectures.each do |board|
    -#   = render 'commons/board', board: board    
    

  .section_container
    = link_to articles_path do
      %h3 articles
      %p 参加した研修や講習についての<br>報告内容一覧へ
  
  .section_container
    = link_to chats_path do
      %h3 chats
      %p 誰かの知恵を借りたい時に使う<br>コミュニティチャット一覧へ

  .section_container
    = link_to informations_path do
      %h3 informations
      %p 災害時の情報共有事項の<br>報告内容一覧へ

  .section_container
    = link_to lectures_path do
      %h3 lectures
      %p 開催予定の講義や研修についての<br>内容一覧へ

-# .div_contaner

  


-#   .new_board_container
-#     = link_to new_board_path do
-#       .board_new
-#         %p + Add new board

