.informations 
  .informations_container
    .index_container
      %h2 研修等の紹介
    

    .new_information_container
      = link_to new_information_path do
        .information_new
          %p + 新しい記事を作成
  
  .wrap
    - @informations.order(created_at: :desc).each do |information|
      = render 'commons/information', information: information 
  
.new_information
  = link_to new_information_path do
    .float_btn
      %i.fa.fa-pencil
