
.informations 
  .informations_container
    .index_container
      %h2 災害関連研修など
    - @informations.each do |information|
      = render 'commons/information', information: information 

  .new_information_container
    = link_to new_information_path do
      .information_new
        %p + 新しい記事を作成
