@import './variables';

.btn-primary {
    background-color: #f4999d;
    border: none;
    border-radius: 10px;
    width: 100px;
    text-align: center;
    color: rgb(246, 246, 246);
    padding: 5px 5px;
    // margin-r: 20px;
    font-weight: bold;
    
    font-size: 14px;

  }

.btn-secondary {
    background-color: rgb(176, 194, 244);
    margin: 0 auto;
    border-radius: 10px;
    width: 90%;
    text-align: center;
    color: white;
    padding: 12px 0;
    font-weight: bold;
}


.btn-save {
  background-color: #f4999d;
    border: none;
    border-radius: 10px;
    width: 80%;
    margin: 20px auto;
    // float: center;
    color: rgb(246, 246, 246);
    padding: 16px 0;
    font-weight: bold;
    font-size: 25px;
}