// Place all the styles related to the chats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.new_chat_container {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;
    color: #000;
    cursor: pointer;
    margin: 20px 20px 20px 20px;
    padding: 20px;
    // width: 90%;
    height: 80px;
    border-style: dotted;
    display: flex;
    justify-content: center;
    align-items: center;
    // position: absolute;
    // bottom: 10px;
}

.chat {
    background-color: white;
    margin: 16px 16px;
    padding: 22px 22px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    position: relative;
    border-radius: 30px;
  
    //  &_image {
    //    height: 180px;
    //    position: relative;
    //    overflow: hidden;
    //    margin: 22px * -1 22px *-1 16px;
     
       img {
         position: absolute;
         top: 50%;
         left: 50%;
         -webkit-transform: translate(-50%, -50%);
         -ms-transform: translate(-50%, -50%);
         transform: translate(-50%, -50%);
         width: 100%;
      //  }
     }
  
     p {
      font-size: 16px;

    }
  
    &_detail {
      padding-top: 10px;
      display: flex;
      font-size: 12px;
      position: relative;
      margin-left: 0;
  
      img {
        cursor: pointer;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        margin-left: 16px;
        position: absolute;
      }
  
      &_actions {
        right: 30px;
        position: absolute;
        bottom: 0;
      }

      &_img {
        size: 50%;
      }
    }

    // &_div {
    //   position: absolute;
    // }
  
    &_content {
      padding: 24px 0 32px;
    }
  
    &_heart {
      position: absolute;
      right: 16px;
      bottom: 16px;
  
      img {
        width: 20px;
        height: 20px;
      }
    }
 
}

.card_detail {
       margin-left: 20px;
       padding-top: 0px;
       img {
         width: 40px;
         height: 40px;
       }
} 

.chat_container {

}