@import './variables';

.chat_reply_container {
  border-radius: 20px;
  border: solid;
  width: 180px;
  border-color: rgb(176, 194, 244);
  text-align: center;
  margin: 0 0 0 auto;
  position: relative;
  justify-content: space-between;
  
}

// .reply_container {
//   width: 600px;

// }

.chat_reply_heart {
    position: absolute;
    bottom: 16px;
    display: flex;
    img {
      width: 20px;
      height: 20px;
    }
}

.reply_edit_container {
  width: 90%;
  margin: 20px 8px;
  // margin-top: 50px;
  padding: 8px 8px;
  width: 800px;
  min-height: 200px;
  background-color: white;
  border-radius: 20px;
  resize: vertical;
  border: 1px solid #EBEBEB;
}

@media screen and (min-width: 350px) {
  .textarea, trix-editor,#reply_content {
      min-width: 200px;
      width: 90%;
      margin: 0 auto;
      background-color: #f4f5f2;
   }
   .reply_container {
      margin: 0 auto;
      width: 300px;
   }
}
