// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.top_page  {
    width: 100%;
    
}

.container {
    background-color: #f5f5f5;
    margin: 16px 16px;
    // padding: $container-padding $container-padding;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    position: relative;
   
   
   
    h2 {
     width: 100%;
     padding-left: 20px;
     
    }

   
}


.section_container {
    background-color: #f5f5f5;
    margin: 16px 16px;
    padding-bottom: 10px;
    // height: 100px;
    // padding: $container-padding $container-padding;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    position: relative;

    h3 {
      font-size: 30px;
      padding-left: 20px;
      padding-top: 20px;
    }

    p {
     padding-left: 20px;
     padding-top: 5px;
     padding-bottom: 20px;
    }
   
 }